@mixin breadcrumbs {
	.tori-breadcrumbs {
		&:empty {
			height: 0 !important;
		}
		.breadcrumbs-layout {
			margin-bottom: 8px;

			.dropdown .v-menubar-menuitem {
				font-size: 16px;
				border: 1px solid $aluminium !important;
				border-radius: 50% !important;
				margin-left: 5px;
			}

			.categorylink {

				&:BEFORE {
					color: $stainless;
					content: "\2044";
					font-family: sans-serif;
					vertical-align: middle;
					font-size: 16px;
					margin: 0 8px;
				}
			}

			.v-link span {
				line-height: 22px;
			}
		}

		.v-link {
			overflow: hidden;
			text-overflow: ellipsis;

			span {
				font-size: 16px;
			}
		}

		.action-bar {
			.v-link {
				padding-right: 10px;
			}

			.v-icon {
				padding-right: 5px;
			}
		}

		.v-label.viewcaption {
			text-overflow: ellipsis;
			position: relative;
			width: auto !important;
			font-size: 3rem;
			font-weight: 100;
			padding-bottom: .5em;

			&:before,
			&:after {
				font-family: "Tori-Icons";
				font-size: 20px;
				line-height: 28px;
				position: absolute;
				right: 30px;
				top: 0;
			}

			&.lockedthread:before {
				content: "\e00c";
				color: $thread-locked-icon-color;
			}
			&.stickythread:before {
				content: "\e004";
				color: $thread-sticky-icon-color;
			}

			&.stickythread.lockedthread:after {
				content: "\e00c";
				color: $thread-locked-icon-color;
				right: 5px;
			}
		}

		.v-button {
			width: auto;
			padding: 5px 10px !important;
			transition: all 400ms;
			-webkit-transition: all 400ms;

			&:before {
				font-family: "Tori-Icons";

				vertical-align: middle;
				padding-right: 5px;
			}

			&:after {
				font-size: 13px; 
				vertical-align: middle;
			}

			&.followed {
				color: #fff;
				background: $button-color;
				border-color: $button-color;

				&:before {
					content: "\e605";
				}

				&:after {
					content: "Following";
				}

				&:hover {
					background: #F06032;
					border-color: #F06032;

					&:after{
						content: "Unfollow";
					}
				}
			}

			&.notfollowed {
				border-bottom: none;
				&:before {
					font-size: 16px;
					content: "\e609";
					position: relative;
					top: 1px;
				}

				&:after {
					content: "Follow";
				}
			}
		}
	}
}
