@mixin dropdown {
	.dropdown.v-menubar {
    	border-bottom: 6px solid transparent;
    	margin-bottom: -6px;
    	line-height: 0;
    	overflow: visible;
    	
    	.v-menubar-menuitem {
	    	border: 1px solid $stainless;
	    	border-radius: 100%;
    		width: 1em;
    		height: 1em;
    		cursor: pointer;
    		text-align: center;
    		background: #fff;
    		moz-box-sizing: border-box;
    		box-sizing: border-box;
            &:hover {
                border-color: $water;
                .v-menubar-menuitem-caption {border-top-color: $water;}
            }
    		
    		.v-menubar-submenu-indicator{
    			display: none;
    		}
    		
    		.v-menubar-menuitem-caption {
    			border: 0.25em solid transparent;
    			border-top-color: $stainless;
    			height: 0;
    			width: 0;
    			display: inline-block;
    			position: relative;
    			top: 0.4em;
    		}
    	}
    	
    	.v-menubar-menuitem-selected {
    		visibility: visible !important;
    		opacity: 1 !important;
    	}
    }
    
    .v-menubar-submenu-dropdown {
    	min-width: 154px;
    	max-width: 300px;
    	border: 1px solid $water;
    	padding: 7px 0;
    	
    	 @include animation(vertical-fade-in 200ms);
    	
    	.v-menubar-menuitem {
    		line-height: 22px;
    		padding-left: 17px;
    		cursor: pointer;
    		color: $charcoal;
    		font-size: 13px;
    	}
    	
    	.v-menubar-menuitem-caption {
	    	overflow: hidden;
			text-overflow: ellipsis;
    	}
    	
    	.v-menubar-menuitem-selected {
    		background: $water;
    		color: #fff;
    	}
	}
}

.v-menubar-popup {
	box-shadow: none !important;
}

@include keyframes(vertical-fade-in) {
  0%   { opacity: 0; @include transform(translatey(-10px)); }
}
