@mixin post {
	.post {
        @include type-body-primary($color: $charcoal);
	    width: 100%;
	    position: relative;
	    -webkit-font-smoothing: antialiased;
	    transition: background 500ms;
		-webkit-transition: background 500ms;
        font-weight: normal;
	    
	    table {
	    	border-collapse: collapse;
	    }
	    
	   	.body .settings {
	    	font-size: 20px;
	    }
	    
	    &.banned-author {
	        zoom: 1;
	        filter: alpha(opacity=50);
	        opacity: 0.5;
	    }
	    
	    .author {
	        width: 153px;
	        min-width: 153px;
	        float: left;
	        text-align: center;
	        margin-top: 45px;
	    }
        .avatar.avatar {
        	color: $post-anonymous-avatar-color;
            margin-bottom: 9px;
            display: block;
            width: 62px;
            height: 62px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: $post-avatar-border;
            overflow: hidden;
            display: inline-block;
            background-color: $post-anonymous-avatar-background-color;
			background-position: center;
			position: relative;
            
            &.anonymous:before {
            	font-family: "Tori-Icons";
				content: "\e606";
				font-size: 52px;
				position: absolute;
				top: 11px;
				left: 2px;
            }
        }
        
        .authornamewrapper {
        	margin: 10px 0 2px;
        }
    
        .authorname {
            @include type-body-sub($color: $charcoal);
            font-size: rem(20);
        	text-overflow: ellipsis;
			
			&.nolink {
				color: $charcoal;
				
				&:HOVER{
					text-decoration: none;
				}
			}
        }
        
        .badge {
        	background-color: transparent;
        	padding: 0;
        	text-shadow: none;
        	display: inline;
        	font-size: inherit;
        	line-height: normal;
        
	        a {
	        	color: transparent;
	        	position: relative;
	        	
	        	&:before {
	        		content: "\e015";
					color: #ee7c08;
					font-family: "Tori-Icons";
					position: absolute;
					top: 0;
					left: 0;
					padding-left: 5px;
	        	}
	        }
        }
        
        .prettytime {
        	@include type-body-secondary($color: $dark-snow);
			line-height: 22px;
			height: 22px;
            margin-bottom: 4px;
        }
        
        .permalink {
			font-size: rem(14);
			color: $dark-snow;
			line-height: 12px;
			
			&:hover {
    			color: $link-color;
    		}
	    }
	    
	    &.editing {
	    	background: $light-snow;
			
	        .posteditorplaceholder {
	        	display: block !important;
	        	visibility: visible;
	        	opacity: 1;
	        	z-index: 1;
	        }
	        
	        .bodytext {
	        	visibility: hidden !important;
	        }
	        
	        
	        .settings,
	        .footer > div {
	        	display: none;
	        }
	        
	        .attachments {
	        	visibility: hidden;
	        }
	        
	        &.authoringcomponent .attachments {
	        	visibility: visible;
	        }
	        
        }
        
        &#threadreply .attachments {
        	visibility: visible;
        	margin-bottom: 20px;
        }
        
	    .posteditorplaceholder {
	    	outline: none;
        	position: absolute;
        	top: 0;
        	width: 100%;
        	height: 100%;
        	visibility: hidden;
        	opacity: 0;
        	transition: all 500ms;
			-webkit-transition: all 500ms;
        }
        
        .v-ie8 & .posteditorplaceholder {
        	display: none;
        }
        
	    .body {
	        padding-top: 1px;
	        margin-right: 12px;
	        margin-left: 153px;
	        position: relative;
            border-left: 1px solid $snow;
            &:before, &:after {
                content: '';
                position: absolute;
                left: -6px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $snow;
            }
            &:before {display: none;}
            &:after {bottom: -24px;}
	    }
        
        &:first-of-type .body{
            border-left-color: $water;
            &:before {background-color: $water; top: 12px; display: block;}
            &:after {background-color: $water; bottom: 0;}
        }
        
        &:last-of-type {
            margin-bottom: 40px;
            .body:after {bottom: -12px;}
        }
        
        &.editing .body {
            border: none;
            &:before, &:after {
                display: none;
            }
        }
	    
        .settings {
	    	position: absolute;
			right: 17px;
			top: 11px;
	    }
	    
        .bodytext {
        	margin-top: 40px;
			padding: 0 3rem;
			min-height: 98px;
			position: relative;
			background: #fff;
			transition: visibility 500ms;
			-webkit-transition: visibility 500ms;
        }
        
        .attachments {
            padding: 5px 3rem 0 3rem;
            position: relative;
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
        
            &:before {
                content: "ATTACHMENTS";
                font-size: 11px;
                color: $charcoal;
                left: 3rem;
                float: left;
            }
            
            .filerow,
            a {
                font-size: 12px;
                float: left;
                clear: both;
                
                .namelabel {
            		vertical-align: text-bottom;
            	}
            	
            	.deleteattachment{
            		cursor: pointer;
            		color: #E6452A;
					font-size: 15px;
					line-height: 13px;
					vertical-align: top;
						
	            	&:before {
	            		content: "x";
	            	}
	            }
            }
        }
        
        
        .body .footer {
	        width: 100%;
	        margin-top: 15px;
	        padding: 1em 3rem;
	        -moz-box-sizing: border-box;
			box-sizing: border-box;
    		line-height: 1;
    		
    		@include animation(fade-in 500ms);
    		
    		.vote {
	            margin-right: 10px;
	            cursor: pointer !important;
	            outline: none;
	            float: left;
	            color: $post-vote-icon-color;
	            
	            &:after {
	            	font-family: "Tori-Icons";
	            }
	            
	            &.upvote {
	            	margin-top: -2px;
	            	
	            	&:after {
		            	content: "\e602";
		            	font-size: 16px;
		            }
		            &.done,
	            	&:hover {
	            		color: #43B536;
	            	}
	            }
	            
	            &.downvote {
	            	&:after {
		            	content: "\e603";
		            	font-size: 15px;
		            }
		            &.done,
	            	&:hover {
	            		color: #E6452A;
	            	}
	            }
	        }
        
    		.score {
	        	padding-left: 5px;
	        	float: left;
	        	line-height: 1;
	        	
	        	&.negative {
	        		color: #E6452A;
	        	}
	        	&.positive {
	        		color: #43B536;
	        	}
	        	&.zero {
		        	display: none;
		        }
	        }
	        
	        .quoteforreply, .flagpost {
		    	cursor: pointer;
		    	margin-left: 2em;
		    	color: $dark-snow;
                font-size: rem(20);
		    	line-height: 15px;
		    	
		    	&:hover {
	    			color: $link-color;
	    		}
		    }
		    
		    .quoteforreply:before {
		    	font-family: "Tori-Icons";
				content: "\e007";
				padding-right: 3px;
				vertical-align: middle;
				font-size: 16px;
		    }
		    
            .flagpost {
                float: right;
            }
		    .flagpost .v-button {
	    		padding: 0;
	    		border: none;
	    		color: $dark-snow;
                text-transform: initial;
                letter-spacing: 0;
	    		background: transparent;
                font-size: rem(20);
	    		
	    		&:hover {
	    			color: $link-color;
	    		}
	    		
	    		.v-button-caption,
	    		.v-button-wrap {
	    			vertical-align: baseline;
	    			font-weight: normal;
	    		}
	    		
	    		&:before {
			    	font-family: "Tori-Icons";
			    	content: "\e014";
			    	padding-right: 5px;
			    	vertical-align: middle;
			    }
		    }
	    }
	   
		    
	    .settings .v-menubar-menuitem, .badge, .prettytime {
	    	visibility: hidden;
	    	opacity: 0;
	    	transition: opacity 500ms, visibility 500ms;
			-webkit-transition: opacity 500ms, visibility 500ms;
	    }	    
	}
	
	.ready .post {
		.badge, .prettytime {
	    	visibility: visible;
	    	opacity: 1;
	    }
	    
	    &:hover .settings .v-menubar-menuitem {
	    	visibility: visible;
	    	opacity: 1;
	    }
	}
	
	@include keyframes(fade-in) {
		0% { 
			opacity: 0;
		}
	}
    
    @media screen and (max-width: 860px) {
        .post .author {width: 100px; min-width: 100px;}
        .post .body {margin-left: 100px;}
    }
    
    @media screen and (max-width: 560px) {
        .post {
            .author {
                float: none;
                overflow: hidden;
                width: auto;
                text-align: left;
                padding: 10px 14px 0;
                background-color: $light-snow;
                border-bottom: 1px solid $water;
                .avatar {float: left;}
                .authornamewrapper {margin:0;}
                .authorname {font-size: rem(24);}
                .prettytime, .permalink {color: $charcoal;}
            }
            .avatar {margin-right: 20px;}
            .body {
                margin-left: 14px;
                &:after {bottom: -12px;}
            }
        }
    }
}
