@mixin post {
    .v-app.tori {
    .post {
	    width: 100%;
	    position: relative;
	    -webkit-font-smoothing: antialiased;
	    transition: background 500ms;
		-webkit-transition: background 500ms;
        font-weight: normal;
	
		&:not(:first-of-type){
			padding-left: 2rem;
		}

	    table {
	    	border-collapse: collapse;
	    }

	   	.body .settings {
	    	font-size: 20px;
	    }

	    &.banned-author {
	        zoom: 1;
	        filter: alpha(opacity=50);
	        opacity: 0.5;
	    }

	    .author {
	        width: 250px;
	        float: left;
	        text-align: center;
	    }
        .avatar.avatar {
        	color: $post-anonymous-avatar-color;
            margin-bottom: 9px;
            display: block;
            width: 62px;
            height: 62px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: $post-avatar-border;
            overflow: hidden;
            display: inline-block;
            background-color: $post-anonymous-avatar-background-color;
			background-position: center;
			position: relative;

            &.anonymous:before {
            	font-family: "Tori-Icons";
				content: "\e606";
				font-size: 52px;
				position: absolute;
				top: 11px;
				left: 2px;
            }
        }

        .authornamewrapper {
        	margin: 10px 0 2px;
        }

        .authorname {
            font-size: rem(20);
        	text-overflow: ellipsis;

			&.nolink {
				color: $graphite;
				font-weight: 300;

				&:HOVER{
					text-decoration: none;
				}
			}
        }

        .badge {
        	background-color: transparent;
        	padding: 0;
        	text-shadow: none;
        	display: inline;
        	font-size: inherit;
        	line-height: normal;

	        a {
	        	color: transparent;
	        	position: relative;

	        	&:before {
	        		content: "\e015";
					color: #ee7c08;
					font-family: "Tori-Icons";
					position: absolute;
					top: 0;
					left: 0;
					padding-left: 5px;
	        	}
	        }
        }

        .prettytime {
			line-height: 22px;
			height: 22px;
            margin-top: 5px;
    		color: $stainless;
    		font-weight: 300;
        }

        .permalink {
			font-size: rem(14);
			color: $stainless;
			line-height: 12px;

			&:hover {
    			color: $link-color;
    		}
	    }

	    &.editing {

	        .posteditorplaceholder {
	        	display: block !important;
	        	visibility: visible;
	        	opacity: 1;
	        	z-index: 1;
	        	padding: 2rem;
	        }

	        .bodytext {
	        	visibility: hidden !important;
	        }


	        .settings,
	        .footer > div {
	        	display: none;
	        }

	        .attachments {
	        	visibility: hidden;
	        }

	        &.authoringcomponent .attachments {
	        	visibility: visible;
	        }

        }

        &#threadreply .attachments {
        	visibility: visible;
        	margin-bottom: 20px;
        }

	    .posteditorplaceholder {
	    	outline: none;
        	position: absolute;
        	top: 0;
        	width: 100%;
        	height: 100%;
        	visibility: hidden;
        	opacity: 0;
        	transition: all 500ms;
			-webkit-transition: all 500ms;
        }

        .v-ie8 & .posteditorplaceholder {
        	display: none;
        }

	    .body {
	        padding-top: 1px;
	        margin-right: 12px;
	        margin-left: 250px;
	        position: relative;
            background: #fff;
    		margin-bottom: 2em;
    		box-shadow: 0 0 10px rgba(0,0,0,0.1);
    		border-radius: 3px;

            &:before, &:after {
                
            }
            &:before {display: none;}
            &:after {bottom: -24px;}
	    }

        &:first-of-type .body{
            /*border-left-color: $water;
            &:before {background-color: $water; top: 12px; display: block;}
            &:after {background-color: $water; bottom: 0;}*/
        }

        &:last-of-type {
            margin-bottom: 40px;
            .body:after {bottom: -12px;}
        }

        &.editing .body {
            border: none;
            &:before, &:after {
                display: none;
            }
        }

        .settings {
	    	position: absolute;
			right: 17px;
			top: 11px;
	    }

        .bodytext {
			padding: 3rem;
			min-height: 98px;
			position: relative;
			transition: visibility 500ms;
			-webkit-transition: visibility 500ms;
			color: $stainless;
			font-weight: 300;
    		line-height: 1.6;
        }

        .attachments {
            padding: 5px 3rem 0 3rem;
            position: relative;
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;

            &:before {
                content: "ATTACHMENTS";
                font-size: 11px;
                color: $charcoal;
                left: 3rem;
                float: left;
            }

            .filerow,
            a {
                font-size: 12px;
                float: left;
                clear: both;

                .namelabel {
            		vertical-align: text-bottom;
            	}

            	.deleteattachment{
            		cursor: pointer;
            		color: #E6452A;
					font-size: 15px;
					line-height: 13px;
					vertical-align: top;

	            	&:before {
	            		content: "x";
	            	}
	            }
            }
        }


        .body .footer {
	        width: 100%;
	        -moz-box-sizing: border-box;
			box-sizing: border-box;
    		line-height: 1;
    		border-top: 1px solid $alloy;

    		@include animation(fade-in 500ms);

    		.vote {
	            margin-right: 10px;
	            cursor: pointer !important;
	            outline: none;
	            float: left;
	            font-size: 1.25rem;
	            color: $post-vote-icon-color;
	            padding: 1em .5em;

	            &:after {
	            	font-family: "Tori-Icons";
	            }

	            &.upvote {
	            	margin-left: 2em;
	            	&:after {
		            	content: "\e602";
		            	font-size: 20px;
		            }
		            &.done,
	            	&:hover {
	            		color: #43B536;
	            	}
	            }

	            &.downvote {
	            	&:after {
		            	content: "\e603";
		            	font-size: 20px;
		            }
		            &.done,
	            	&:hover {
	            		color: #E6452A;
	            	}
	            }
	        }

    		.score {
	        	padding: 1.2em;
	        	float: left;

	        	&.negative {
	        		color: #E6452A;
	        	}
	        	&.positive {
	        		color: #43B536;
	        	}
	        	&.zero {
		        	display: none;
		        }
	        }

	        .quoteforreply, .flagpost {
		    	cursor: pointer;
		    	margin-left: 2em;
		    	padding: 1em;
		    	color: $stainless;
                font-size: rem(20);

		    	&:hover {
	    			color: $link-color;
	    		}
		    }

		    .quoteforreply:before {
		    	font-family: "Tori-Icons";
				content: "\e007";
				padding-right: 3px;
				vertical-align: middle;
				font-size: 16px;
		    }

            .flagpost {
                float: right;
                margin-right: 2em;
            }
		    .flagpost .v-button {
	    		padding: 0;
	    		border: none;
	    		color: $stainless;
                text-transform: initial;
                letter-spacing: 0;
	    		background: transparent;
                font-size: rem(20);

	    		&:hover {
	    			color: $link-color;
	    		}

	    		.v-button-caption,
	    		.v-button-wrap {
	    			vertical-align: baseline;
	    			font-weight: normal;
	    		}

	    		&:before {
			    	font-family: "Tori-Icons";
			    	content: "\e014";
			    	padding-right: 5px;
			    	vertical-align: middle;
			    }
		    }
	    }


	    .settings .v-menubar-menuitem, .badge, .prettytime {
	    	visibility: hidden;
	    	opacity: 0;
	    	transition: opacity 500ms, visibility 500ms;
			-webkit-transition: opacity 500ms, visibility 500ms;
	    }
	}

	.ready .post {
		.badge, .prettytime {
	    	visibility: visible;
	    	opacity: 1;
	    }

	    &:hover .settings .v-menubar-menuitem {
	    	visibility: visible;
	    	opacity: 1;
	    }
	}

	@include keyframes(fade-in) {
		0% {
			opacity: 0;
		}
	}
}
}
