@mixin threadlisting {

	.threadlisting {
		width: 100%;
	    display: block !important;

        a {
        	color: $stainless;
        	font-size: 1.1rem;
    	}

		.threadlistingrow {
			height: 50px;
			margin: 10px 0;
			white-space: nowrap;
			-webkit-transform: translatez(0);
			position: relative;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding-left: 5px;
			padding-right: 50px;
			overflow: hidden;
			display: block;
			cursor: pointer;

			@include animation(horizontal-fade-in 450ms);

		    &.unread {
			    .topicname:before {
					content: "\2022\00a0";
				}
		    }

		    & > * {
		    	display: inline-block;
		    	vertical-align: middle;
		    	line-height: 1;
		    }

		    &:before {
                /*
		    	content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background: $threadlisting-row-border-bottom-color;
                */
		    }

		    &:hover {

		    	.topicname {
		    		color: $charcoal;
		    	}

		    	&:after{
			    	opacity: 1;
					transition: all 200ms;
				}

            &:active {
                &:after {transition: all 50ms; background: $water;}
                .startedby, .latestby {
                	color: $charcoal;
                	border-color: $charcoal;
                }
                .startedtime, .latesttime {
                	color: $charcoal;
                	border-color: $charcoal;
                }
            }

				.dropdown {
					visibility: visible;
                    opacity: 1;
                    color: $water;
				}
		    }

		    &:after {
		    	width: 100%;
                opacity: 0;
				transition: all 300ms;
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 50px;
				border-bottom: 1px solid $water;
                z-index: -1;

				/*.v-sa:not(.v-ch) & {
					height: 2px;
				}*/
		    }

		    .touch &:after {
		    	display: none;
		    }

			.followtopic:HOVER:before,
			&.following .followtopic:before {
			 	color: $highlight-color;
			 	visibility: visible;
			}

			&.following .followtopic:before {
				@include animation(fade-in 500ms);
			}

			&:hover .followtopic:before {
				visibility: visible;
			}

			&.maynotfollow .followtopic {
				display: none;
			}

			.followtopic:before {
				font-family: "Tori-Icons";
				content: "\e605";
				position: absolute;
				left: 3px;
				top: 2px;
				font-size: 12px;
				color: $water;
				visibility: hidden;
			}


			.threadicons {
				font-family: "Tori-Icons";
				vertical-align: top;
				font-size: 12px;
			}

			&.sticky .threadicons:before {
				content: "\e004";
				color: $water;
				margin-left: 5px;
				@include animation(fade-in 500ms);
			}
			&.locked .threadicons:after {
				content: "\e00c";
				color: $water;
				margin-left: 5px;
				@include animation(fade-in 500ms);
			}

			.topic {
				transition: all 320ms;
				-webkit-transform: translatez(0);
		    	font-size: rem(20);
				padding-left: 20px;
				line-height: 50px;
				color: #2698E0;
				width: 48%;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
				vertical-align: middle;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

				&:after {
					font-family: "Tori-Icons";
					vertical-align: middle;
					padding-left: 5px;
				}
		    }

		    .started {
		    	width: 21%;
		    	font-size: rem(20);
		    	overflow: hidden;
		    	white-space: normal;
		    }

		    .replycountwrapper {
				text-align: center;
				width: 36px;
				color: $font-color-primary;
				display: inline-block;
				font-size: rem(16);
				position: relative;
				margin-left: 2em;

				&:BEFORE,
	    		.replycount:BEFORE,
	    		.replycount:AFTER {
		    		content: "\e607";
					font-family: "Tori-Icons";
					position: absolute;
					font-size: 22px;
					left: 6px;
					top: -4px;
					color: $stainless;
					background-color: $snow;
					z-index: -1;
		    	}

		    	.replycount:BEFORE {
		    		left: 4px;
					top: -6px;
		    	}

		    	&:BEFORE {
		    		display: none;
	    			left: 3px;
					top: -8px;
		    	}

			}

	    	&.shortthread .replycountwrapper .replycount:BEFORE {
	    		display: none;
	    	}
	    	&.longthread .replycountwrapper:BEFORE {
	    		display: block;
	    	}

	    	&.noreplies {
	    		.replycountwrapper {
	    			visibility: hidden;
	    		}
	    		.latestby{
	    			color: $font-color-primary;
	    			display: inline-block;
   					width: calc(100% - 100px);
   					vertical-align: middle;
	    		}
	    		.latesttime {
	    			display: none;
	    		}
	    	}

		    .latest {
		    	width: 24%;
		    	font-size: rem(20);
		    	white-space: normal;
		    	-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 36px;
				margin-left: -36px;
				text-decoration: none;
				overflow: hidden;
		    }

		    .startedby,
		    .latestby {
				overflow: hidden;
				text-overflow: ellipsis;
				color: $font-color-secondary;
				font-weight: 300;
				padding: 0 5px 0 3px;
				white-space: nowrap;
				font-size: 1rem;
				display: inline-block;
				width: calc(100% - 100px);
				vertical-align: middle;
}
		    }


			.startedtime, .latesttime {
				display: inline-block;
				white-space: nowrap;
                font-size: 10px;
                text-transform: uppercase;
			}

			 .startedtime {
			 	border: 1px solid #d3dce0;
			 	border-radius: 20px;
			 	padding: 5px 10px;
			 	color: #888;
			 	width: 80px;
			 	text-align: center;
			 }

			 .latesttime {
			 	border: 1px solid #d3dce0;
			 	border-radius: 20px;
			 	padding: 5px 10px;
			 	color: #888;
			 	width: 80px;
			 	text-align: center;
			 }

			 .dropdown {
			 	vertical-align: middle !important;
			 	visibility: visible;
                opacity: 0.3;
			 	font-size: 16px;
                color: $stainless;
			 }
		 }

		.threadlisting-placeholder {
			height: 50px;
			border-bottom: 1px solid $water;
			position: relative;

	    	&:before {
				padding-left: 26px;
				content: "Loading Post...";
				color: $font-color-primary;
				line-height: 50px;
			}

			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				background: $water;
		        height: 1px;
		        opacity: 1;
		        -webkit-animation: loading 1000ms ease-in;
		        -webkit-animation-iteration-count: infinite;
		        animation: loading 1000ms ease-in;
		        animation-iteration-count: infinite;
		 	}
		}
	}
}

@include keyframes(horizontal-fade-in) {
	0% {
		opacity: 0;
		@include transform(translatex(-10px));
	}
}

@include keyframes(loading) {
	0% {
	    width: 0%;
	    height: 2px;
	}
	30% {
	    width: 30%;
	    height: 1px;
	}
	70% {
	    width: 40%;
	    left: 60%;
	}
	100% {
	    width: 0%;
	    left: 100%;
	}
}
