@mixin tori {
	@include post;
	@include ckeditorcontent;

        .v-generated-body {
             overflow: auto;
        }

	.v-app.tori {
	    @include base;
	    @include dropdown;
	    @include postbody;
	    
	    @include recentbar;
	    @include floatingcomponent;
	    @include authoring;
	    @include newthread;
	    @include breadcrumbs;
	    @include categorytree;
	    @include threadlisting;
	    @include threadview;
	    
	    .v-widget {
	        font-family: inherit;
	        font-size: 22;
	        color: inherit;
	    }
	    
	    .highlight-color-top-border {
	    	border-top-color: $highlight-color;
	    }
	    
	    &.v-app,
	    .v-ui.v-ui,
	    .v-window,
	    .v-window .v-scrollable {
		    font-family: $font-family-primary;
		    font-size: $font-size-primary;
		    color: $font-color-secondary;
	    }
	    
	    .v-ui-embedded {
	    	overflow: hidden;
	    }
	    
        .v-slot-debugcontrolpanel {
            background-color: $charcoal;
            .debugcontrolpanel {
                margin: 4px 0 10px;
                .v-button {
                    text-decoration: none;
                    font-size: rem(18);
                    color: $aluminium;
                    border-bottom: none;
                }
            }
        }
	   	
		.v-ui.loading,
		.v-ui.loading a,
		.v-ui.loading a:active,
		.v-ui.loading a:visited,
		.v-ui.loading .v-label,
		.v-ui.loading .v-link,
		.v-ui.loading .v-table-row-odd, 
		.v-ui.loading .v-button, 
		.v-ui.loading .v-popup-indicator,
		.v-ui.loading .v-icon,
		.v-ui.loading .v-table-row { 
			cursor: wait;
		}
	    
	    .v-loading-indicator {
	    	visibility: hidden !important;
	    }
	    
	    .v-link span,
	    a {
	        text-decoration: none;
	        color: $link-color;
	    }
	    
	    .editview {
	        .subtitle {
	            font-weight: bold;
	        }
	        
	        .v-table {
	            .v-selected {
	                background: #0db5e7;
	            }
	            
	            input {
	                margin: 2px 0;
	                color: #000;
	            }
	        }
	        
	        .v-checkbox label {
	            display: inline-block;
	            padding-left: 5px;
	            margin-bottom: 0;
	        }
	        
	        .preferenceslayout {
	        	font-size: 14px;
	        }
	    }
	    
	    
	    .v-button {
            @include type-heading-sub($color: $water);
	        outline: none;
	        cursor: pointer;
	        position: relative;
	        background: transparent;
            border: none;
            padding: 0.2em 0;
            border-bottom: 1px solid $water;
	        
	        &.secondarybutton {
	        	color: $stainless;
                border-bottom: none;
	        }
	        
	        .v-button-caption,
	        .v-button-wrap {
	        	font-weight: 500;
	        	vertical-align: baseline;
	        }
	        
	        &.v-pressed {
	        	background: #eee;
	        }
	    }
	    
	    .headerlayout {
            @include type-heading-sub($color: $stainless);
            border-bottom: 1px solid $aluminium;			
		}
		
		.v-shadow-window,
		.v-shadow {
			display: none;
		}
		
		.v-window-closebox {
			display: none;
		}
		
		.v-window-modalitycurtain {
			background: #fff;
		}
		
		.v-popup-indicator {
			display: none !important;
		}
		
		.v-tooltip .popupContent {
			border: 1px solid $water;
			padding: 11px 12px;
			font-size: 12px;
			color: $font-color-primary;
		}
		
		.v-popupbutton-popup {
			background-color: #fff;
			border: 1px solid $water;
            border-radius: 0;
            box-shadow: none;
			
			.v-textarea,
			.v-textfield {
				border: 1px solid $stainless;
                font-style: normal;
                padding: 0.5em;
			}
		}
		
		.v-window {
			background-color: $window-background-color;
			border: $window-border;
			-moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.13);
			-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13);
			box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.13);
		
			.v-window-outerheader {
				display: none;
			}
			
			/* Overriding LR62 .aui .light */
			.light {
				background: transparent;
			}
		}
		
		#confirmdialog-window {
			height: 7em !important;
			
			.v-horizontallayout {
				height: auto !important;
			}
		}
		
		
		.v-checkbox,
		.v-radiobutton {
			
			input {
				margin: 3px;
			}
			
			label {
				display: inline;
				font-size: inherit;
				vertical-align: middle;
				color: inherit;
			}
		}
	}
}
