// Vaadin Visual Style Guide colors
// =================================================================================================

// For DNA
$water:       #00b4f0;
$lava:        #ff3a49;

// For highlights
$salmon:      #e61e6d;
$gold:        #ffc13f;
$grass:       #2acc47;

// For contrast and text
$charcoal:    #34373b; // Secondary backgrounds, titles on light background
$graphite:    #404549; // Secondary backgrounds, custom styling
$stainless:   #829191; // Paragraph text (works on light and dark backgrounds)
$aluminium:   #d3dce0; // Secondary backgrounds, custom styling
$alloy:       #f3f4f5; // framework feature pages sidebar background
$light-alloy: lighten($alloy, 1%); // framework feature pages, background for tables and inset blocks
$snow:        #fafbfc; // Main background, titles on dark background


// Other colors
// =================================================================================================
$white:       #fff;
$overlay:     #1b1d1e;

// =================================================================================================

//Tori icons
@font-face {
    font-family: 'Tori-Icons';
    src:url('fonts/Tori-Icons.eot');
    src:url('fonts/Tori-Icons.eot?#iefix') format('embedded-opentype'),
        url('fonts/Tori-Icons.woff') format('woff'),
        url('fonts/Tori-Icons.ttf') format('truetype'),
        url('fonts/Tori-Icons.svg#Tori-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Breakpoints not working!
//$tablet: 680px;
//$mobile: 500px;
$font-size-primary: 14px !default;
$font-color-primary: #888 !default;
$font-color-secondary: #555 !default;
/*
$font-family-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-secondary: "HelveticaNeue-Light", "Helvetica Neue Light", $font-family-primary !default;
$font-family-tertiary: "HelveticaNeueMedium", "HelveticaNeue-Medium", $font-family-primary !default;
$font-size-primary: 14px !default;
$font-color-primary: #888 !default;
$font-color-secondary: #555 !default;
*/

$highlight-color: $water !default;
$border-radius-primary: 0 !default;

// Button
$button-border-radius: 0 !default;
$button-border: 0px solid rgba(41,170,230,0.65) !default;
$button-font-size: 13px !default;
$secondary-button-border: 2px solid #C7C7C7 !default;

// Post
$post-avatar-border-color: $aluminium !default;
$post-anonymous-avatar-color: #fff !default;
$post-permalink-color: $aluminium !default;
$post-body-line-height: 22px !default;
$post-vote-icon-color: $aluminium !default;

// Post body
$postbody-quote-background-color: #F7F7F7 !default;

$postbody-code-linenumber-background-color: $charcoal !default;
$postbody-code-linenumber-color: $aluminium !default;
$postbody-code-background-color: $charcoal !default;
$postbody-code-color: #fff !default;
$postbody-code-vertical-padding: 4px !default;
$postbody-code-font-size: rem(20) !default;
$postbody-code-line-height: rem(28) !default;

$postbody-quote-code-linenumber-background-color: lighten($charcoal, 15%) !default;
$postbody-quote-code-background-color: lighten($charcoal, 15%) !default;

// Link
$link-color: $highlight-color !default;

// Button
$button-color: $highlight-color;

// Post
$post-avatar-border: 1px solid $post-avatar-border-color !default;
$post-anonymous-avatar-background-color: $post-avatar-border-color !default;
$post-separator-border: 1px solid $separator-border-color !default;

// Post body
$postbody-quote-code-color: #fff !default;
$postbody-quote-quotationmark-color: $highlight-color !default;
$postbody-quote-code-linenumber-color: #fff !default;

// Popupbutton
$popupbutton-border: $popup-border-width $popup-border-style $popup-border-color !default;
$popupbutton-background-color: $popup-background-color !default;

// Window
$window-background-color: #fff !default;
$window-border: 1px solid $water !default;

// Thread listing
$threadlisting-row-border-bottom-color: $separator-border-color !default;
