<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-4.1.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <import resource="spring-security.xml"/>
    <import resource="staticLiferayUtilBeans.xml"/>

	<context:annotation-config/>
	<bean class="org.vaadin.tori.config.SpringConfig"/>
	<bean class="org.vaadin.tori.config.MailConfiguration"/>

    <bean name="permissionChecker" class="com.vaadin.auth.ClonablePermissionchecker"/>

    <bean class="com.liferay.portal.security.permission.PermissionThreadLocalPatch"
          c:permissionChecker-ref="permissionChecker"/>

	<bean class="com.liferay.portal.security.permission.PermissionThreadLocal"
		  p:permissionChecker-ref="permissionChecker"/>

	<bean name="com.liferay.portlet.messageboards.service.MBBanService" class="com.liferay.portlet.messageboards.service.impl.MBBanServiceImpl"
		  p:MBBanLocalService-ref="com.liferay.portlet.messageboards.service.MBBanLocalService"
		  p:userPersistence-ref="userPersistence"/>

    <bean name="com.liferay.portlet.messageboards.service.MBCategoryLocalService"
          class="com.liferay.portlet.messageboards.service.impl.MBCategoryLocalServiceImpl"
          p:MBCategoryPersistence-ref="MBCategoryPersistence"
		  p:userPersistence-ref="userPersistence"
		  p:counterLocalService-ref="counterLocalService"
	      p:MBCategoryLocalService-ref="com.liferay.portlet.messageboards.service.MBCategoryLocalService"
	      p:MBThreadLocalService-ref="com.liferay.portlet.messageboards.service.MBThreadLocalService"
		  p:subscriptionLocalService-ref="com.liferay.portal.service.SubscriptionLocalService"
		  p:expandoRowLocalService-ref="com.liferay.portlet.expando.service.ExpandoRowLocalService"
		  p:resourceLocalService-ref="com.liferay.portal.service.ResourceLocalService"
		  p:trashEntryLocalService-ref="com.liferay.portlet.trash.service.impl.TrashEntryLocalService"
	      p:MBMailingListLocalService-ref="com.liferay.portlet.messageboards.service.MBMailingListLocalService"/>
    <bean name="classLoaderRef" class="org.vaadin.tori.PortalClassLoaderInitializer"/>
    <bean name="portalExecutorManager" class="com.liferay.portal.executor.PortalExecutorManagerImpl"/>
    <bean id="finderCache" class="com.liferay.portal.dao.orm.common.FinderCacheImpl">
        <property name="multiVMPool">
            <bean class="com.liferay.portal.cache.MultiVMPoolImpl">
                <property name="portalCacheManager" ref="portalCacheManager"/>
            </bean>
        </property>
    </bean>
    <bean id="portalCacheManager" class="com.liferay.portal.patch.MemoryPortalCacheManagerPatch"/>
    <bean name="MBCategoryPersistence"
          class="com.liferay.portlet.messageboards.service.persistence.MBCategoryPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"/>

    <bean id="userSessionFactory" class="com.liferay.portal.patch.SessionFactoryImplPatch" c:dialect-ref="dialect">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
        <property name="session" ref="userSession"/>
    </bean>

    <bean id="mbThreadSessionFactory" class="com.liferay.portal.patch.SessionFactoryImplPatch" c:dialect-ref="dialect">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
    </bean>

    <bean name="hibernateJpaSessionFactoryBean"
          class="org.springframework.orm.jpa.vendor.HibernateJpaSessionFactoryBean">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
    </bean>


    <bean name="dialect" class="com.liferay.portal.dao.orm.hibernate.DialectImpl">
        <constructor-arg>
            <bean class="org.hibernate.dialect.MySQLDialect"/>
        </constructor-arg>
    </bean>

    <bean id="portalEntityManagerFactoryBean" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:persistenceUnitName="lportal" p:persistenceXmlLocation="classpath:/META-INF/persistence.xml">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/db_portal"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernateJpaSessionFactoryBean"/>
        <property name="hibernateManagedSession" value="true"></property>
    </bean>
    <tx:annotation-driven/>
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
            </set>
        </property>
    </bean>

    <bean id="portalEntityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
    </bean>

    <bean id="localEntityManager" class="org.springframework.orm.jpa.vendor.HibernateJpaSessionFactoryBean">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
    </bean>

	<bean name="com.liferay.portlet.expando.service.persistence.ExpandoTablePersistence"
		  class="com.liferay.portlet.expando.service.persistence.ExpandoTablePersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory">
	</bean>
	<bean name="com.liferay.portlet.expando.service.persistence.ExpandoRowPersistence"
		  class="com.liferay.portlet.expando.service.persistence.ExpandoRowPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory">
	</bean>

    <!--<bean id="entityManagerHolder" class="org.springframework.orm.jpa.EntityManagerHolder"-->
    <!--c:entityManager-ref="portalEntityManager">-->
    <!--</bean>-->
    <bean id="userSession" class="com.UserSession" autowire="no" autowire-candidate="false">
        <!--<property name="entityManagerHolder" ref="entityManagerHolder"/>-->
        <property name="entityManager" ref="portalEntityManager"/>
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
        <property name="hibernateSessionFactory" ref="hibernateJpaSessionFactoryBean"/>
    </bean>
    <bean name="com.liferay.portlet.messageboards.service.MBThreadLocalService"
          class="com.liferay.portal.patch.MBThreadLocalServiceImplPatch"
		  p:assetEntryLocalService-ref="assetEntryLocalService"
		  p:counterLocalService-ref="counterLocalService"
		  p:MBThreadPersistence-ref="threadPersistence"
		  p:MBMessagePersistence-ref="com.liferay.portlet.messageboards.service.persistence.MBMessagePersistence"
		  p:subscriptionLocalService-ref="com.liferay.portal.service.SubscriptionLocalService"
		  p:MBThreadFlagPersistence-ref="com.liferay.portlet.messageboards.service.persistence.MBThreadFlagPersistence"
		  p:ratingsStatsLocalService-ref="com.liferay.portlet.ratings.service.RatingsStatsLocalService"
		  p:resourceLocalService-ref="com.liferay.portal.service.ResourceLocalService"
		  p:MBStatsUserLocalService-ref="com.liferay.portlet.messageboards.service.MBStatsUserLocalService"
		  p:workflowInstanceLinkLocalService-ref="com.liferay.portal.service.WorkflowInstanceLinkLocalService"
		  p:MBCategoryPersistence-ref="MBCategoryPersistence"
		  p:trashEntryLocalService-ref="com.liferay.portlet.trash.service.impl.TrashEntryLocalService"
	      p:persistedModelLocalServiceRegistry-ref="persistedModelLocalServiceRegistry">
        <property name="MBThreadPersistence" ref="threadPersistence"/>
    </bean>
    <bean name="threadPersistence" class="com.liferay.portal.patch.MBThreadPersistenceImplPatch"
          p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.asset.service.persistence.AssetCategoryPersistence" class="com.liferay.portlet.asset.service.persistence.AssetCategoryPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.asset.service.persistence.AssetTagPersistence" class="com.liferay.portlet.asset.service.persistence.AssetTagPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"
	      p:dataSource-ref="dataSource"/>
    <bean name="com.liferay.portal.service.GroupLocalService"
          class="com.liferay.portal.service.impl.GroupLocalServiceImpl"
          p:groupPersistence-ref="com.liferay.portal.service.persistence.GroupPersistence"
          p:userPersistence-ref="userPersistence">
        <property name="groupLocalService">
            <bean class="com.liferay.portal.service.impl.GroupLocalServiceImpl"
                  p:groupPersistence-ref="com.liferay.portal.service.persistence.GroupPersistence"/>
        </property>
        <property name="groupFinder">
            <bean class="com.liferay.portal.patch.GroupFinderImplPatch"
                  p:sessionFactory-ref="userSessionFactory"></bean>
        </property>
    </bean>
    <bean name="com.liferay.portlet.messageboards.service.MBThreadService"
          class="com.liferay.portlet.messageboards.service.impl.MBThreadServiceImpl">
        <property name="MBCategoryService" ref="com.liferay.portlet.messageboards.service.MBCategoryService"/>
        <property name="MBThreadPersistence" ref="threadPersistence"/>
        <property name="MBMessageFinder">
            <bean class="com.liferay.portlet.messageboards.service.persistence.MBMessageFinderImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>

    <bean name="com.liferay.portlet.messageboards.service.MBCategoryService"
          class="com.liferay.portlet.messageboards.service.impl.MBCategoryServiceImpl">
        <property name="MBCategoryPersistence" ref="MBCategoryPersistence"/>
		<property name="MBCategoryLocalService" ref="com.liferay.portlet.messageboards.service.MBCategoryLocalService"/>
    </bean>

    <bean name="com.liferay.portal.service.ResourceBlockLocalService"
          class="com.liferay.portal.service.impl.ResourceBlockLocalServiceImpl"/>

    <bean name="persistedModelLocalServiceRegistry"
          class="com.liferay.portal.service.PersistedModelLocalServiceRegistryImpl"/>

    <bean name="com.liferay.portal.service.ClassNameLocalService"
          class="com.liferay.portal.service.impl.ClassNameLocalServiceImpl">
        <property name="classNamePersistence" ref="classNamePersistence"/>
        <property name="classNameLocalService">
            <bean class="com.liferay.portal.service.impl.ClassNameLocalServiceImpl">
                <property name="classNamePersistence" ref="classNamePersistence"/>
            </bean>
        </property>
    </bean>
    <bean name="classNamePersistence" class="com.liferay.portal.service.persistence.ClassNamePersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"/>
    <bean name="com.liferay.portlet.messageboards.service.MBBanLocalService" class="com.liferay.portal.patch.MBBanLocalServiceImplPatch"
		  p:persistedModelLocalServiceRegistry-ref="persistedModelLocalServiceRegistry"
		  p:userPersistence-ref="userPersistence"
		  p:counterLocalService-ref="counterLocalService">
        <property name="MBBanPersistence">
            <bean class="com.liferay.portlet.messageboards.service.persistence.MBBanPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.UserLocalService"
          class="com.liferay.portal.patch.UserLocalServiceImplPatch" p:userPersistence-ref="userPersistence">
        <constructor-arg name="persistedModelLocalServiceRegistry" ref="persistedModelLocalServiceRegistry"/>
    </bean>
    <bean name="com.liferay.portal.service.CompanyLocalService"
          class="com.liferay.portal.service.impl.CompanyLocalServiceImpl" p:companyPersistence-ref="companyPersistence">
    </bean>
    <bean name="companyPersistence" class="com.liferay.portal.service.persistence.CompanyPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"/>
    <bean name="com.liferay.portal.service.LayoutLocalService"
          class="com.liferay.portal.service.impl.LayoutLocalServiceImpl"
          p:userPersistence-ref="userPersistence"
          p:layoutPersistence-ref="layoutPersistence">
        <property name="classNameLocalService">
            <bean class="com.liferay.portal.service.impl.ClassNameLocalServiceImpl"/>
        </property>
        <property name="groupPersistence">
            <bean class="com.liferay.portal.service.persistence.GroupPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="layoutSetPersistence">
            <bean class="com.liferay.portal.service.persistence.LayoutSetPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="layoutPersistence" class="com.liferay.portal.service.persistence.LayoutPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"/>
    <bean name="com.liferay.portal.service.AccountLocalService"
          class="com.liferay.portal.service.impl.AccountLocalServiceImpl">
        <property name="accountPersistence">
            <bean class="com.liferay.portal.service.persistence.AccountPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.LayoutSetLocalService"
          class="com.liferay.portal.service.impl.LayoutSetLocalServiceImpl">
        <property name="layoutSetPersistence">
            <bean class="com.liferay.portal.service.persistence.LayoutSetPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.ContactLocalService"
          class="com.liferay.portal.service.impl.ContactLocalServiceImpl">
        <property name="contactPersistence">
            <bean class="com.liferay.portal.service.persistence.ContactPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean class="com.liferay.portal.service.impl.PortletLocalServiceImpl"/>
    <bean class="com.liferay.portal.security.auth.FullNameGeneratorFactory">
        <property name="instance">
            <bean class="com.liferay.portal.security.auth.DefaultFullNameGenerator"/>
        </property>
    </bean>
    <bean name="com.liferay.portlet.expando.service.ExpandoValueLocalService"
          class="com.liferay.portlet.expando.service.impl.ExpandoValueLocalServiceImplPatch"
          p:persistedModelLocalServiceRegistry-ref="persistedModelLocalServiceRegistry"
	      p:expandoTablePersistence-ref="com.liferay.portlet.expando.service.persistence.ExpandoTablePersistence">
        <property name="expandoColumnPersistence">
            <bean class="com.liferay.portlet.expando.service.persistence.ExpandoColumnPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="expandoValuePersistence">
            <bean class="com.liferay.portlet.expando.service.persistence.ExpandoValuePersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
	<bean name="com.liferay.portlet.expando.service.ExpandoRowLocalService"
		  class="com.liferay.portlet.expando.service.impl.ExpandoRowLocalServiceImpl"
		  p:counterLocalService-ref="counterLocalService"
		  p:expandoTablePersistence-ref="com.liferay.portlet.expando.service.persistence.ExpandoTablePersistence"
		  p:expandoRowPersistence-ref="com.liferay.portlet.expando.service.persistence.ExpandoRowPersistence"
		  p:expandoValueLocalService-ref="com.liferay.portlet.expando.service.ExpandoValueLocalService">
	</bean>
    <bean name="com.liferay.portlet.expando.service.ExpandoColumnLocalService"
          class="com.liferay.portlet.expando.service.impl.ExpandoColumnLocalServiceImpl">
        <property name="expandoColumnPersistence">
            <bean class="com.liferay.portlet.expando.service.persistence.ExpandoColumnPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.RepositoryLocalService"
          class="com.liferay.portal.patch.RepositoryLocalServiceImplPatch"
          p:groupPersistence-ref="com.liferay.portal.service.persistence.GroupPersistence"
          p:DLFolderLocalService-ref="com.liferay.portlet.documentlibrary.service.DLFolderLocalService"
          p:persistedModelLocalServiceRegistry-ref="persistedModelLocalServiceRegistry"
          p:DLFileEntryLocalService-ref="com.liferay.portlet.documentlibrary.service.DLFileEntryLocalService"
          p:DLFileEntryTypeLocalService-ref="fileEntryTypeLocalService"
          p:resourceLocalService-ref="com.liferay.portal.service.ResourceLocalService">
        <property name="repositoryPersistence">
            <bean class="com.liferay.portal.service.persistence.RepositoryPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="fileEntryTypeLocalService"
          class="com.liferay.portlet.documentlibrary.service.impl.DLFileEntryTypeLocalServiceImpl"
          p:DLFolderPersistence-ref="dlFolderPersistence"
        p:DLFileEntryTypePersistence-ref="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryTypePersistence"/>
	<bean name="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryTypePersistence" class="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryTypePersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
    <bean name="com.liferay.portlet.documentlibrary.service.DLFolderLocalService"
          class="com.liferay.portal.patch.DLFolderLocalServiceImplPatch"
          p:userPersistence-ref="userPersistence"
          p:counterLocalService-ref="counterLocalService"
          p:resourceLocalService-ref="com.liferay.portal.service.ResourceLocalService"
          p:DLFileEntryLocalService-ref="com.liferay.portlet.documentlibrary.service.DLFileEntryLocalService"
		  p:DLFileEntryTypeLocalService-ref="fileEntryTypeLocalService"
		  p:DLFileShortcutLocalService-ref="com.liferay.portlet.documentlibrary.service.impl.DLFileShortcutLocalService"
		  p:expandoRowLocalService-ref="com.liferay.portlet.expando.service.ExpandoRowLocalService"
		  p:workflowDefinitionLinkLocalService-ref="com.liferay.portal.service.impl.WorkflowDefinitionLinkLocalService"
		  p:webDAVPropsLocalService-ref="com.liferay.portal.service.impl.WebDAVPropsLocalService"
          p:DLFolderPersistence-ref="dlFolderPersistence"
		  p:persistedModelLocalServiceRegistry-ref="persistedModelLocalServiceRegistry"
          p:DLAppHelperLocalService-ref="dlAppHelperLocalService"/>

	<bean name="com.liferay.portal.service.impl.WorkflowDefinitionLinkLocalService" class="com.liferay.portal.service.impl.WorkflowDefinitionLinkLocalServiceImpl"/>
    <bean id="dlAppHelperLocalService"
          class="com.liferay.portlet.documentlibrary.service.impl.DLAppHelperLocalServiceImpl"
			p:trashEntryLocalService-ref="com.liferay.portlet.trash.service.impl.TrashEntryLocalService"/>
    <bean name="dlFolderPersistence"
          class="com.liferay.portal.patch.DLFolderPersistenceImplPatch"
		  p:dataSource-ref="dataSource"
		  p:DLFileEntryTypePersistence-ref="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryTypePersistence"
          p:sessionFactory-ref="userPersistence"/>
	<bean name="com.liferay.portal.service.impl.WebDAVPropsLocalService" class="com.liferay.portal.service.impl.WebDAVPropsLocalServiceImpl"
		  p:webDAVPropsPersistence-ref="com.liferay.portal.service.persistence.WebDAVPropsPersistence"/>
	<bean name="com.liferay.portal.service.persistence.WebDAVPropsPersistence" class="com.liferay.portal.service.persistence.WebDAVPropsPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.documentlibrary.service.impl.DLFileShortcutLocalService" class="com.liferay.portlet.documentlibrary.service.impl.DLFileShortcutLocalServiceImpl"
		  p:DLFileShortcutPersistence-ref="com.liferay.portlet.documentlibrary.service.persistence.DLFileShortcutPersistence"/>
	<bean name="com.liferay.portlet.documentlibrary.service.persistence.DLFileShortcutPersistence" class="com.liferay.portlet.documentlibrary.service.persistence.DLFileShortcutPersistenceImpl"
	p:dataSource-ref="dataSource"
	p:sessionFactory-ref="userSessionFactory"/>

    <bean name="com.liferay.portlet.documentlibrary.service.DLFileEntryLocalService"
          class="com.liferay.portal.patch.DLFileEntryLocalServiceImplPatch"
          p:counterLocalService-ref="counterLocalService"
		  p:lockLocalService-ref="com.liferay.portal.service.LockLocalService"
          p:userPersistence-ref="userPersistence"
          p:DLFolderLocalService-ref="com.liferay.portlet.documentlibrary.service.DLFolderLocalService"
          p:DLFileEntryTypeLocalService-ref="fileEntryTypeLocalService"
          p:DLFolderPersistence-ref="dlFolderPersistence"
          p:repositoryLocalService-ref="com.liferay.portal.service.RepositoryLocalService"
		  p:DLAppHelperLocalService-ref="dlAppHelperLocalService"
		  p:persistedModelLocalServiceRegistry-ref="persistedModelLocalServiceRegistry"
		  p:resourceLocalService-ref="com.liferay.portal.service.ResourceLocalService"
		  p:webDAVPropsLocalService-ref="com.liferay.portal.service.impl.WebDAVPropsLocalService"
		  p:DLFileEntryMetadataLocalService-ref="com.liferay.portlet.documentlibrary.service.DLFileEntryMetadataLocalService"
		  p:expandoRowLocalService-ref="com.liferay.portlet.expando.service.ExpandoRowLocalService"
		  p:workflowInstanceLinkLocalService-ref="com.liferay.portal.service.WorkflowInstanceLinkLocalService"
          p:DLFileVersionPersistence-ref="dlFileVersionPersistence">
        <property name="DLFileEntryPersistence">
            <bean class="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
        <property name="DLFileVersionPersistence">
            <bean class="com.liferay.portlet.documentlibrary.service.persistence.DLFileVersionPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="DLFileEntryFinder">
            <bean class="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryFinderImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>
    <bean id="dlFileVersionPersistence"
          class="com.liferay.portlet.documentlibrary.service.persistence.DLFileVersionPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.documentlibrary.service.DLFileEntryMetadataLocalService" class="com.liferay.portlet.documentlibrary.service.impl.DLFileEntryMetadataLocalServiceImpl"
	p:DLFileEntryMetadataPersistence-ref="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryMetadataPersistence"/>
	<bean name="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryMetadataPersistence" class="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryMetadataPersistenceImpl"
	p:dataSource-ref="dataSource"
	p:sessionFactory-ref="userSessionFactory"/>

    <bean name="com.liferay.portlet.ratings.service.RatingsStatsLocalService"
          class="com.liferay.portal.patch.RatingsStatsLocalServiceImplPatch"
		  p:ratingsStatsPersistence-ref="com.liferay.portlet.ratings.service.persistence.RatingsStatsPersistence"
	      p:ratingsEntryPersistence-ref="com.liferay.portlet.ratings.service.persistence.RatingsEntryPersistence">
        <property name="persistedModelLocalServiceRegistry" ref="persistedModelLocalServiceRegistry"/>
        <property name="counterLocalService" ref="counterLocalService"/>
    </bean>
	<bean name="com.liferay.portlet.messageboards.service.MBStatsUserLocalService"
		  class="com.liferay.portlet.messageboards.service.impl.MBStatsUserLocalServiceImpl"
	      p:MBThreadLocalService-ref="com.liferay.portlet.messageboards.service.MBThreadLocalService"
	      p:MBStatsUserLocalService-ref="com.liferay.portlet.messageboards.service.MBStatsUserLocalService"
	      p:MBStatsUserPersistence-ref="com.liferay.portlet.messageboards.service.persistence.MBStatsUserPersistence"
	      p:MBMessagePersistence-ref="com.liferay.portlet.messageboards.service.persistence.MBMessagePersistence">
		<property name="counterLocalService" ref="counterLocalService"/>
	</bean>
    <bean name="com.liferay.portal.service.RoleLocalService"
          class="com.liferay.portal.patch.RoleLocalServiceImplPatch"
          p:userPersistence-ref="userPersistence"
          p:rolePersistence-ref="rolePersistence"
          p:groupPersistence-ref="com.liferay.portal.service.persistence.GroupPersistence"
          p:userLocalService-ref="com.liferay.portal.service.UserLocalService">
        <constructor-arg ref="persistedModelLocalServiceRegistry"/>
        <property name="roleFinder">
            <bean class="com.liferay.portal.service.persistence.RoleFinderImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.PortletLocalService"
          class="com.liferay.portal.patch.PortletLocalServiceImplPatch">
        <property name="persistedModelLocalServiceRegistry" ref="persistedModelLocalServiceRegistry"/>
        <property name="portletPersistence">
            <bean class="com.liferay.portal.service.persistence.PortletPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>

    <bean name="rolePersistence" class="com.liferay.portal.service.persistence.RolePersistenceImpl"
          p:sessionFactory-ref="userSessionFactory" p:dataSource-ref="dataSource"/>
    <bean name="userGroupPersistence" class="com.liferay.portal.service.persistence.UserGroupPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory" p:dataSource-ref="dataSource"/>
    <bean name="com.liferay.portal.service.persistence.GroupPersistence" class="com.liferay.portal.service.persistence.GroupPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory" p:dataSource-ref="dataSource"/>
    <bean name="userPersistence" class="com.liferay.portal.patch.UserPersistenceImplPatch"
          p:groupPersistence-ref="com.liferay.portal.service.persistence.GroupPersistence"
          p:rolePersistence-ref="rolePersistence"
          p:sessionFactory-ref="userSessionFactory"
          p:dataSource-ref="dataSource"/>
	<bean name="com.liferay.portlet.asset.service.persistence.AssetEntryPersistence" class="com.liferay.portal.patch.AssetEntryPersistenceImplPatch"
		  p:sessionFactory-ref="userPersistence"
	      p:dataSource-ref="dataSource"
	      p:assetCategoryPersistence-ref="com.liferay.portlet.asset.service.persistence.AssetCategoryPersistence"
	      p:assetTagPersistence-ref="com.liferay.portlet.asset.service.persistence.AssetTagPersistence"/>
	<bean name="com.liferay.portlet.ratings.service.persistence.RatingsEntryPersistence"
		  class="com.liferay.portlet.ratings.service.persistence.RatingsEntryPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portal.service.persistence.SystemEventPersistence"
		  class="com.liferay.portal.service.persistence.SystemEventPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.messageboards.service.persistence.MBStatsUserPersistence"
		  class="com.liferay.portlet.messageboards.service.persistence.MBStatsUserPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.messageboards.service.persistence.MBMessagePersistence"
		  class="com.liferay.portal.patch.MBMessagePersistenceImplPatch"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.social.service.persistence.SocialActivityCounterPersistence"
		  class="com.liferay.portlet.social.service.persistence.SocialActivityCounterPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.social.service.persistence.SocialActivityLimitPersistence"
		  class="com.liferay.portlet.social.service.persistence.SocialActivityLimitPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.ratings.service.persistence.RatingsStatsPersistence"
		  class="com.liferay.portlet.ratings.service.persistence.RatingsStatsPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>
	<bean name="com.liferay.portlet.messageboards.service.persistence.MBMailingListPersistence"
		  class="com.liferay.portlet.messageboards.service.persistence.MBMailingListPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"/>

    <bean name="com.liferay.portlet.messageboards.service.MBMessageService"
          class="com.liferay.portal.patch.MBMessageServiceImplPatch" c:permissionChecker-ref="permissionChecker"
		  p:lockLocalService-ref="com.liferay.portal.service.LockLocalService"
		  p:MBMessagePersistence-ref="com.liferay.portlet.messageboards.service.persistence.MBMessagePersistence"
		  p:MBMessageLocalService-ref="com.liferay.portlet.messageboards.service.MBMessageLocalService"/>

	<bean name="com.liferay.portal.service.LockLocalService" class="com.liferay.portal.service.impl.LockLocalServiceImpl"
		  p:lockPersistence-ref="com.liferay.portal.service.persistence.LockPersistence"/>

	<bean name="com.liferay.portlet.messageboards.service.MBMessageLocalService"
		  class="com.liferay.portlet.messageboards.service.impl.MBMessageLocalServiceImpl"
		  p:userPersistence-ref="userPersistence"
		  p:resourceLocalService-ref="com.liferay.portal.service.ResourceLocalService"
		  p:assetEntryLocalService-ref="assetEntryLocalService"
		  p:MBThreadLocalService-ref="com.liferay.portlet.messageboards.service.MBThreadLocalService"
		  p:MBThreadPersistence-ref="threadPersistence"
	      p:expandoRowLocalService-ref="com.liferay.portlet.expando.service.ExpandoRowLocalService"
	      p:ratingsStatsLocalService-ref="com.liferay.portlet.ratings.service.RatingsStatsLocalService"
	      p:MBStatsUserLocalService-ref="com.liferay.portlet.messageboards.service.MBStatsUserLocalService"
	      p:assetLinkLocalService-ref="com.liferay.portlet.asset.service.AssetLinkLocalService"
	      p:workflowInstanceLinkLocalService-ref="com.liferay.portal.service.WorkflowInstanceLinkLocalService">
		<property name="counterLocalService" ref="counterLocalService"/>
		<property name="MBMessagePersistence" ref="com.liferay.portlet.messageboards.service.persistence.MBMessagePersistence"/>
	</bean>
	<bean   name="com.liferay.portlet.asset.service.AssetLinkLocalService"
			class="com.liferay.portlet.asset.service.impl.AssetLinkLocalServiceImpl">
		<property name="assetLinkPersistence">
			<bean class="com.liferay.portlet.asset.service.persistence.AssetLinkPersistenceImpl"
				  p:sessionFactory-ref="userPersistence"/>
		</property>
	</bean>
	<bean name="com.liferay.portal.service.SystemEventLocalService"
		  class="com.liferay.portal.service.impl.SystemEventLocalServiceImpl"
		  p:userPersistence-ref="userPersistence"
		  p:companyPersistence-ref="companyPersistence"
		  p:counterLocalService-ref="counterLocalService"
		  p:systemEventPersistence-ref="com.liferay.portal.service.persistence.SystemEventPersistence"
		  p:groupPersistence-ref="com.liferay.portal.service.persistence.GroupPersistence">
	</bean>
	<bean name="assetEntryLocalService" class="com.liferay.portlet.asset.service.impl.AssetEntryLocalServiceImpl"
		  p:assetEntryPersistence-ref="com.liferay.portlet.asset.service.persistence.AssetEntryPersistence"
		  p:groupLocalService-ref="com.liferay.portal.service.GroupLocalService"
	      p:assetTagLocalService-ref="com.liferay.portlet.asset.service.AssetTagLocalService"
		  p:socialActivityLocalService-ref="com.liferay.portlet.social.service.SocialActivityLocalService"
	      p:systemEventLocalService-ref="com.liferay.portal.service.SystemEventLocalService"
	      p:assetLinkLocalService-ref="com.liferay.portlet.asset.service.AssetLinkLocalService">
		<property name="userPersistence" ref="userPersistence"/>
		<property name="counterLocalService" ref="counterLocalService"/>
	</bean>
	<bean name="com.liferay.portlet.asset.service.AssetTagLocalService" class="com.liferay.portlet.asset.service.impl.AssetTagLocalServiceImpl"
		  p:assetEntryPersistence-ref="com.liferay.portlet.asset.service.persistence.AssetEntryPersistence"
		  p:assetTagPersistence-ref="com.liferay.portlet.asset.service.persistence.AssetTagPersistence"
		  p:groupLocalService-ref="com.liferay.portal.service.GroupLocalService">
		<property name="userPersistence" ref="userPersistence"/>
		<property name="counterLocalService" ref="counterLocalService"/>
	</bean>
    <bean id="com.liferay.portal.service.ResourceLocalService"
          class="com.liferay.portal.service.impl.ResourceLocalServiceImpl">
        <property name="resourcePermissionPersistence">
            <bean class="com.liferay.portal.service.persistence.ResourcePermissionPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="roleLocalService" ref="com.liferay.portal.service.RoleLocalService"/>
        <property name="resourceBlockLocalService">
            <bean class="com.liferay.portal.service.impl.ResourceBlockLocalServiceImpl">
                <property name="resourceBlockPersistence">
                    <bean class="com.liferay.portal.service.persistence.ResourceBlockPersistenceImpl"
                          p:sessionFactory-ref="userSessionFactory"/>
                </property>
            </bean>
        </property>
        <property name="resourcePermissionLocalService"
                  ref="com.liferay.portal.service.ResourcePermissionLocalService"/>
    </bean>
	<bean name="com.liferay.portlet.trash.service.impl.TrashEntryLocalService"
		  class="com.liferay.portlet.trash.service.impl.TrashEntryLocalServiceImpl"
		  p:trashEntryPersistence-ref="com.liferay.portlet.trash.service.persistence.TrashEntryPersistence"
		  p:userPersistence-ref="userPersistence"
		  p:counterLocalService-ref="counterLocalService"/>

	<bean name="com.liferay.portlet.trash.service.persistence.TrashEntryPersistence" class="com.liferay.portlet.trash.service.persistence.TrashEntryPersistenceImpl"
		  p:sessionFactory-ref="userSessionFactory"
	/>

    <bean name="com.liferay.portal.service.ResourcePermissionLocalService"
          class="com.liferay.portal.service.impl.ResourcePermissionLocalServiceImpl">
        <property name="resourcePermissionPersistence">
            <bean class="com.liferay.portal.service.persistence.ResourcePermissionPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="counterLocalService" ref="counterLocalService"/>
        <property name="roleLocalService" ref="com.liferay.portal.service.RoleLocalService"/>
        <property name="resourceActionLocalService"
                  ref="com.liferay.portal.service.ResourceActionLocalService"/>
    </bean>

    <bean name="counterLocalService" class="com.liferay.counter.service.impl.CounterLocalServiceImpl">
        <property name="counterPersistence">
            <bean class="com.liferay.counter.service.persistence.CounterPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
        <property name="counterFinder">
            <bean class="com.liferay.counter.service.persistence.CounterFinderImpl">
                <property name="dataSource" ref="dataSource"/>
                <property name="sessionFactory" ref="userSessionFactory"/>
            </bean>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.VirtualHostLocalService"
          class="com.liferay.portal.service.impl.VirtualHostLocalServiceImpl"/>
    <bean name="com.liferay.portal.service.LayoutFriendlyURLLocalService"
          class="com.liferay.portal.service.impl.LayoutFriendlyURLLocalServiceImpl"/>
    <bean name="com.liferay.portal.service.persistence.LockPersistence"
          class="com.liferay.portal.service.persistence.LockPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"
	p:dataSource-ref="dataSource"/>
    <bean name="com.liferay.portlet.documentlibrary.service.DLAppLocalService"
          class="com.liferay.portlet.documentlibrary.service.impl.DLAppLocalServiceImpl"
          p:DLAppHelperLocalService-ref="dlAppHelperLocalService"
          p:repositoryLocalService-ref="com.liferay.portal.service.RepositoryLocalService"/>

    <bean name="com.liferay.portal.service.ResourceActionLocalService"
          class="com.liferay.portal.service.impl.ResourceActionLocalServiceImpl">
        <property name="resourceActionPersistence">
            <bean class="com.liferay.portal.service.persistence.ResourceActionPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portlet.asset.service.AssetVocabularyLocalService"
          class="com.liferay.portlet.asset.service.impl.AssetVocabularyLocalServiceImpl">
        <property
                name="assetVocabularyPersistence">
            <bean class="com.liferay.portlet.asset.service.persistence.AssetVocabularyPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.WorkflowInstanceLinkLocalService"
          class="com.liferay.portal.service.impl.WorkflowInstanceLinkLocalServiceImpl">
        <property name="workflowInstanceLinkPersistence">
            <bean class="com.liferay.portal.service.persistence.WorkflowInstanceLinkPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>
    <bean id="com.liferay.portlet.ratings.service.RatingsEntryLocalService"
          class="com.liferay.portlet.ratings.service.impl.RatingsEntryLocalServiceImpl"
	      p:ratingsEntryPersistence-ref="com.liferay.portlet.ratings.service.persistence.RatingsEntryPersistence"
		  p:ratingsStatsPersistence-ref="com.liferay.portlet.ratings.service.persistence.RatingsStatsPersistence"
		  p:ratingsStatsLocalService-ref="com.liferay.portlet.ratings.service.RatingsStatsLocalService"
		  p:socialActivityLocalService-ref="com.liferay.portlet.social.service.SocialActivityLocalService"
		  p:assetEntryLocalService-ref="assetEntryLocalService"
		  p:counterLocalService-ref="counterLocalService"
	      p:userPersistence-ref="userPersistence">
    </bean>
    <bean id="com.liferay.portlet.documentlibrary.store.DLStore"
          class="com.liferay.portal.patch.DLStoreImplPatch">
        <property name="store">
            <bean class="com.liferay.portlet.documentlibrary.store.DBStore"/>
        </property>
    </bean>
    <bean class="com.liferay.portal.service.impl.PortalPreferencesLocalServiceImpl"/>
    <bean name="com.liferay.portlet.documentlibrary.service.DLContentLocalService"
          class="com.liferay.portlet.documentlibrary.service.impl.DLContentLocalServiceImpl"
          p:counterLocalService-ref="counterLocalService">
        <property name="DLContentPersistence">
            <bean class="com.liferay.portlet.documentlibrary.service.persistence.DLContentPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>
    <bean name="com.liferay.portlet.documentlibrary.service.DLFileVersionLocalService"
          class="com.liferay.portlet.documentlibrary.service.impl.DLFileVersionLocalServiceImpl"
          p:DLFileVersionPersistence-ref="dlFileVersionPersistence"/>
    <bean name="com.liferay.portlet.messageboards.service.MBThreadFlagLocalService"
          class="com.liferay.portlet.messageboards.service.impl.MBThreadFlagLocalServiceImpl"
          p:userPersistence-ref="userPersistence"
		  p:MBThreadFlagPersistence-ref="com.liferay.portlet.messageboards.service.persistence.MBThreadFlagPersistence"
          p:counterLocalService-ref="counterLocalService">
    </bean>
	<bean name="com.liferay.portlet.messageboards.service.persistence.MBThreadFlagPersistence" class="com.liferay.portlet.messageboards.service.persistence.MBThreadFlagPersistenceImpl"
		  p:sessionFactory-ref="userPersistence"/>
    <bean name="com.liferay.portal.service.SubscriptionLocalService"
          class="com.liferay.portal.service.impl.SubscriptionLocalServiceImpl"
          p:userPersistence-ref="userPersistence"
          p:counterLocalService-ref="counterLocalService"
          p:assetEntryLocalService-ref="assetEntryLocalService"
		  p:socialActivityLocalService-ref="com.liferay.portlet.social.service.SocialActivityLocalService"
	      p:MBThreadLocalService-ref="com.liferay.portlet.messageboards.service.MBThreadLocalService"
	      p:assetEntryPersistence-ref="com.liferay.portlet.asset.service.persistence.AssetEntryPersistence">
        <property name="subscriptionPersistence">
            <bean class="com.liferay.portal.service.persistence.SubscriptionPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.OrganizationLocalService"
          class="com.liferay.portal.service.impl.OrganizationLocalServiceImpl"
          p:userPersistence-ref="userPersistence"></bean>
	<bean name="com.liferay.portal.service.UserGroupLocalService"
		  class="com.liferay.portal.service.impl.UserGroupLocalServiceImpl"
		  p:userPersistence-ref="userPersistence"></bean>
	<bean name="com.liferay.portlet.social.service.SocialActivitySettingLocalService"
		  class="com.liferay.portlet.social.service.impl.SocialActivitySettingLocalServiceImpl"
		  p:userPersistence-ref="userPersistence">
		<property name="socialActivitySettingPersistence">
			<bean  class="com.liferay.portlet.social.service.persistence.SocialActivitySettingPersistenceImpl"
				   p:sessionFactory-ref="userPersistence"/>
		</property>
	</bean>
	<bean name="com.liferay.portlet.social.service.SocialActivityCounterLocalService"
		  class="com.liferay.portlet.social.service.impl.SocialActivityCounterLocalServiceImpl"
		  p:socialActivitySettingLocalService-ref="com.liferay.portlet.social.service.SocialActivitySettingLocalService"
		  p:socialActivityCounterPersistence-ref="com.liferay.portlet.social.service.persistence.SocialActivityCounterPersistence"
		  p:socialActivityLimitPersistence-ref="com.liferay.portlet.social.service.persistence.SocialActivityLimitPersistence"
		  p:groupPersistence-ref="com.liferay.portal.service.persistence.GroupPersistence"
		  p:counterLocalService-ref="counterLocalService"
		  p:userPersistence-ref="userPersistence"/>
	<bean name="com.liferay.portlet.social.service.SocialActivityLocalService"
		  class="com.liferay.portlet.social.service.impl.SocialActivityLocalServiceImpl"
	      p:userPersistence-ref="userPersistence"
	      p:groupLocalService-ref="com.liferay.portal.service.GroupLocalService"
		  p:counterLocalService-ref="counterLocalService"
		  p:socialActivityLocalService-ref="com.liferay.portlet.social.service.SocialActivityLocalService"
	      p:socialActivitySettingLocalService-ref="com.liferay.portlet.social.service.SocialActivitySettingLocalService"
	      p:socialActivityCounterLocalService-ref="com.liferay.portlet.social.service.SocialActivityCounterLocalService"
	      p:assetEntryPersistence-ref="com.liferay.portlet.asset.service.persistence.AssetEntryPersistence"
	      p:socialActivityCounterPersistence-ref="com.liferay.portlet.social.service.persistence.SocialActivityCounterPersistence">
		<property name="socialActivityPersistence">
			<bean  class="com.liferay.portlet.social.service.persistence.SocialActivityPersistenceImpl"
				   p:sessionFactory-ref="userPersistence"/>
		</property>
	</bean>
	<bean name="com.liferay.portlet.ratings.service.RatingsEntryService"
		  class="com.liferay.portlet.ratings.service.impl.RatingsEntryServiceImpl"
		  p:ratingsEntryLocalService-ref="com.liferay.portlet.ratings.service.RatingsEntryLocalService"
		  p:userPersistence-ref="userPersistence">
	</bean>
	<bean name="com.liferay.portlet.flags.service.FlagsEntryService"
		  class="com.liferay.portlet.flags.service.impl.FlagsEntryServiceImpl"
		  p:userPersistence-ref="userPersistence">
	</bean>
	<bean name="com.liferay.portlet.messageboards.service.MBMailingListLocalService"
		  class="com.liferay.portlet.messageboards.service.impl.MBMailingListLocalServiceImpl"
		  p:counterLocalService-ref="counterLocalService"
		  p:MBMailingListPersistence-ref="com.liferay.portlet.messageboards.service.persistence.MBMailingListPersistence"
		  p:userPersistence-ref="userPersistence">
	</bean>
	<bean name="com.liferay.mail.service.MailService"
		  class="com.liferay.mail.service.impl.MailServiceImpl">
	</bean>
</beans>
