<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-4.1.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <import resource="spring-security.xml"/>
    <import resource="staticLiferayUtilBeans.xml"/>

    <bean name="permissionChecker" class="com.NoPermissionChecker"/>

    <bean class="com.liferay.portal.security.permission.PermissionThreadLocalPatch"
          c:permissionChecker-ref="permissionChecker"/>

    <bean name="com.liferay.portlet.messageboards.service.MBCategoryLocalService"
          class="com.liferay.portlet.messageboards.service.impl.MBCategoryLocalServiceImpl"
          p:MBCategoryPersistence-ref="MBCategoryPersistence"/>
    <bean name="classLoaderRef" class="org.vaadin.tori.PortalClassLoaderInitializer"/>
    <bean name="portalExecutorManager" class="com.liferay.portal.executor.PortalExecutorManagerImpl"/>
    <bean id="finderCache" class="com.liferay.portal.dao.orm.common.FinderCacheImpl">
        <property name="multiVMPool">
            <bean class="com.liferay.portal.cache.MultiVMPoolImpl">
                <property name="portalCacheManager" ref="portalCacheManager"/>
            </bean>
        </property>
    </bean>
    <bean id="portalCacheManager" class="com.liferay.portal.patch.MemoryPortalCacheManagerPatch"/>
    <bean name="MBCategoryPersistence"
          class="com.liferay.portlet.messageboards.service.persistence.MBCategoryPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"/>

    <bean id="userSessionFactory" class="com.liferay.portal.patch.SessionFactoryImplPatch" c:dialect-ref="dialect">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
        <property name="session" ref="userSession"/>
    </bean>

    <bean id="mbThreadSessionFactory" class="com.liferay.portal.patch.SessionFactoryImplPatch" c:dialect-ref="dialect">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
    </bean>

    <bean name="hibernateJpaSessionFactoryBean"
          class="org.springframework.orm.jpa.vendor.HibernateJpaSessionFactoryBean">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
    </bean>


    <bean name="dialect" class="com.liferay.portal.dao.orm.hibernate.DialectImpl">
        <constructor-arg>
            <bean class="org.hibernate.dialect.MySQLDialect"/>
        </constructor-arg>
    </bean>

    <bean id="portalEntityManagerFactoryBean" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:persistenceUnitName="lportal" p:persistenceXmlLocation="classpath:/META-INF/persistence.xml">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!-- Remember to change these: -->
        <property name="url" value="jdbc:mysql://localhost:3306/lportal"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernateJpaSessionFactoryBean"/>
        <property name="hibernateManagedSession" value="true"></property>
    </bean>
    <tx:annotation-driven/>
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
            </set>
        </property>
    </bean>

    <bean id="portalEntityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
    </bean>

    <bean id="localEntityManager" class="org.springframework.orm.jpa.vendor.HibernateJpaSessionFactoryBean">
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
    </bean>

    <!--<bean id="entityManagerHolder" class="org.springframework.orm.jpa.EntityManagerHolder"-->
    <!--c:entityManager-ref="portalEntityManager">-->
    <!--</bean>-->
    <bean id="userSession" class="com.UserSession" autowire="no" autowire-candidate="false">
        <!--<property name="entityManagerHolder" ref="entityManagerHolder"/>-->
        <property name="entityManager" ref="portalEntityManager"/>
        <property name="entityManagerFactory" ref="portalEntityManagerFactoryBean"/>
        <property name="hibernateSessionFactory" ref="hibernateJpaSessionFactoryBean"/>
    </bean>

    <bean name="com.liferay.portlet.messageboards.service.MBThreadLocalService"
          class="com.liferay.portlet.messageboards.service.impl.MBThreadLocalServiceImpl">
        <property name="MBThreadPersistence" ref="threadPersistence"/>
    </bean>
    <bean name="threadPersistence" class="com.liferay.portlet.messageboards.service.persistence.MBThreadPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"/>
    <bean name="com.liferay.portal.service.GroupLocalService"
          class="com.liferay.portal.service.impl.GroupLocalServiceImpl" p:groupPersistence-ref="groupPersistence">
        <property name="groupLocalService">
            <bean class="com.liferay.portal.service.impl.GroupLocalServiceImpl"
                  p:groupPersistence-ref="groupPersistence"/>
        </property>
    </bean>
    <bean name="com.liferay.portlet.messageboards.service.MBThreadService"
          class="com.liferay.portlet.messageboards.service.impl.MBThreadServiceImpl">
        <property name="MBCategoryService" ref="com.liferay.portlet.messageboards.service.MBCategoryService"/>
        <property name="MBThreadPersistence" ref="threadPersistence"/>
        <property name="MBMessageFinder">
            <bean class="com.liferay.portlet.messageboards.service.persistence.MBMessageFinderImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>

    <bean name="com.liferay.portlet.messageboards.service.MBCategoryService"
          class="com.liferay.portlet.messageboards.service.impl.MBCategoryServiceImpl">
        <property name="MBCategoryPersistence" ref="MBCategoryPersistence"/>
    </bean>

    <bean name="com.liferay.portal.service.ResourceBlockLocalService"
          class="com.liferay.portal.service.impl.ResourceBlockLocalServiceImpl"/>

    <bean name="persistedModelLocalServiceRegistry"
          class="com.liferay.portal.service.PersistedModelLocalServiceRegistryImpl"/>

    <bean name="com.liferay.portal.service.ClassNameLocalService"
          class="com.liferay.portal.service.impl.ClassNameLocalServiceImpl">
        <property name="classNamePersistence" ref="classNamePersistence"/>
        <property name="classNameLocalService">
            <bean class="com.liferay.portal.service.impl.ClassNameLocalServiceImpl">
                <property name="classNamePersistence" ref="classNamePersistence"/>
            </bean>
        </property>
    </bean>
    <bean name="classNamePersistence" class="com.liferay.portal.service.persistence.ClassNamePersistenceImpl"
          p:sessionFactory-ref="userSessionFactory"/>
    <bean name="com.liferay.portlet.messageboards.service.MBBanLocalService"
          class="com.liferay.portlet.messageboards.service.impl.MBBanLocalServiceImpl">
        <property name="MBBanPersistence">
            <bean class="com.liferay.portlet.messageboards.service.persistence.MBBanPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.UserLocalService"
          class="com.liferay.portal.patch.UserLocalServiceImplPatch" p:userPersistence-ref="userPersistence">
        <constructor-arg name="persistedModelLocalServiceRegistry" ref="persistedModelLocalServiceRegistry"/>
    </bean>
    <bean name="com.liferay.portal.service.LayoutLocalService"
          class="com.liferay.portal.service.impl.LayoutLocalServiceImpl" p:userPersistence-ref="userPersistence">
        <property name="classNameLocalService">
            <bean class="com.liferay.portal.service.impl.ClassNameLocalServiceImpl"/>
        </property>
        <property name="groupPersistence">
            <bean class="com.liferay.portal.service.persistence.GroupPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="layoutSetPersistence">
            <bean class="com.liferay.portal.service.persistence.LayoutSetPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.AccountLocalService"
          class="com.liferay.portal.service.impl.AccountLocalServiceImpl">
        <property name="accountPersistence">
            <bean class="com.liferay.portal.service.persistence.AccountPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.LayoutSetLocalService"
          class="com.liferay.portal.service.impl.LayoutSetLocalServiceImpl">
        <property name="layoutSetPersistence">
            <bean class="com.liferay.portal.service.persistence.LayoutSetPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.ContactLocalService"
          class="com.liferay.portal.service.impl.ContactLocalServiceImpl">
        <property name="contactPersistence">
            <bean class="com.liferay.portal.service.persistence.ContactPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean class="com.liferay.portal.service.impl.PortletLocalServiceImpl"/>
    <bean class="com.liferay.portal.security.auth.FullNameGeneratorFactory">
        <property name="instance">
            <bean class="com.liferay.portal.security.auth.DefaultFullNameGenerator"/>
        </property>
    </bean>
    <bean name="com.liferay.portlet.expando.service.ExpandoValueLocalService"
          class="com.liferay.portlet.expando.service.impl.ExpandoValueLocalServiceImplPatch"
          p:persistedModelLocalServiceRegistry-ref="persistedModelLocalServiceRegistry">
        <property name="expandoTablePersistence">
            <bean class="com.liferay.portlet.expando.service.persistence.ExpandoTablePersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="expandoColumnPersistence">
            <bean class="com.liferay.portlet.expando.service.persistence.ExpandoColumnPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="expandoValuePersistence">
            <bean class="com.liferay.portlet.expando.service.persistence.ExpandoValuePersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portlet.expando.service.ExpandoColumnLocalService"
          class="com.liferay.portlet.expando.service.impl.ExpandoColumnLocalServiceImpl">
        <property name="expandoColumnPersistence">
            <bean class="com.liferay.portlet.expando.service.persistence.ExpandoColumnPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.RepositoryLocalService"
          class="com.liferay.portal.service.impl.RepositoryLocalServiceImpl"
          p:groupPersistence-ref="groupPersistence">
        <property name="repositoryPersistence">
            <bean class="com.liferay.portal.service.persistence.RepositoryPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="DLFolderLocalService">
            <bean class="com.liferay.portlet.documentlibrary.service.impl.DLFolderLocalServiceImpl"
                  p:userPersistence-ref="userPersistence">
                <property name="DLFolderPersistence">
                    <bean class="com.liferay.portlet.documentlibrary.service.persistence.DLFolderPersistenceImpl"
                          p:sessionFactory-ref="userPersistence"/>
                </property>
                <property name="DLFileEntryLocalService">
                    <bean class="com.liferay.portlet.documentlibrary.service.impl.DLFileEntryLocalServiceImpl">
                        <property
                                name="DLFileEntryPersistence">
                            <bean class="com.liferay.portlet.documentlibrary.service.persistence.DLFileEntryPersistenceImpl"
                                  p:sessionFactory-ref="userPersistence"/>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
    <bean name="com.liferay.portlet.ratings.service.RatingsStatsLocalService"
          class="com.liferay.portal.patch.RatingsStatsLocalServiceImplPatch">
        <property name="ratingsStatsPersistence">
            <bean class="com.liferay.portlet.ratings.service.persistence.RatingsStatsPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="persistedModelLocalServiceRegistry" ref="persistedModelLocalServiceRegistry"/>
        <property name="counterLocalService" ref="counterLocalService"/>
    </bean>
    <bean name="com.liferay.portal.service.RoleLocalService"
          class="com.liferay.portal.patch.RoleLocalServiceImplPatch"
          p:userPersistence-ref="userPersistence"
          p:rolePersistence-ref="rolePersistence"
          p:groupPersistence-ref="groupPersistence">
        <constructor-arg ref="persistedModelLocalServiceRegistry"/>
    </bean>
    <bean name="com.liferay.portal.service.PortletLocalService"
          class="com.liferay.portal.patch.PortletLocalServiceImplPatch">
        <property name="persistedModelLocalServiceRegistry" ref="persistedModelLocalServiceRegistry"/>
        <property name="portletPersistence">
            <bean class="com.liferay.portal.service.persistence.PortletPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>

    <bean name="rolePersistence" class="com.liferay.portal.service.persistence.RolePersistenceImpl"
          p:sessionFactory-ref="userSessionFactory" p:dataSource-ref="dataSource"/>
    <bean name="userGroupPersistence" class="com.liferay.portal.service.persistence.UserGroupPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory" p:dataSource-ref="dataSource"/>
    <bean name="groupPersistence" class="com.liferay.portal.service.persistence.GroupPersistenceImpl"
          p:sessionFactory-ref="userSessionFactory" p:dataSource-ref="dataSource"/>
    <bean name="userPersistence" class="com.liferay.portal.patch.UserPersistenceImplPatch"
          p:groupPersistence-ref="groupPersistence"
          p:rolePersistence-ref="rolePersistence"
          p:sessionFactory-ref="userSessionFactory"
          p:dataSource-ref="dataSource"/>

    <bean name="com.liferay.portlet.messageboards.service.MBMessageService"
          class="com.liferay.portal.patch.MBMessageServiceImplPatch" c:permissionChecker-ref="permissionChecker">
        <property name="MBMessagePersistence">
            <bean class="com.liferay.portlet.messageboards.service.persistence.MBMessagePersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
        <property name="lockLocalService">
            <bean class="com.liferay.portal.service.impl.LockLocalServiceImpl">
                <property name="lockPersistence">
                    <bean class="com.liferay.portal.service.persistence.LockPersistenceImpl"
                          p:sessionFactory-ref="userPersistence"/>
                </property>
            </bean>
        </property>
        <property name="MBMessageLocalService" ref="com.liferay.portlet.messageboards.service.MBMessageLocalService"/>
    </bean>

    <bean name="com.liferay.portlet.messageboards.service.MBMessageLocalService"
          class="com.liferay.portlet.messageboards.service.impl.MBMessageLocalServiceImpl"
          p:userPersistence-ref="userPersistence">
        <property name="counterLocalService" ref="counterLocalService"/>
        <property name="MBMessagePersistence">
            <bean class="com.liferay.portlet.messageboards.service.persistence.MBMessagePersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
        <property name="MBThreadPersistence">
            <bean class="com.liferay.portlet.messageboards.service.persistence.MBThreadPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
        <property name="assetEntryLocalService">
            <bean class="com.liferay.portlet.asset.service.impl.AssetEntryLocalServiceImpl">
                <property name="userPersistence" ref="userPersistence"/>
                <property name="assetEntryPersistence">
                    <bean class="com.liferay.portlet.asset.service.persistence.AssetEntryPersistenceImpl"
                          p:sessionFactory-ref="userPersistence"/>
                </property>
                <property name="counterLocalService" ref="counterLocalService"/>
            </bean>
        </property>
        <property name="assetLinkLocalService">
            <bean class="com.liferay.portlet.asset.service.impl.AssetLinkLocalServiceImpl">
                <property name="assetLinkPersistence">
                    <bean class="com.liferay.portlet.asset.service.persistence.AssetLinkPersistenceImpl"
                          p:sessionFactory-ref="userPersistence"/>
                </property>
            </bean>
        </property>
        <property name="resourceLocalService">
            <bean class="com.liferay.portal.service.impl.ResourceLocalServiceImpl">
                <property name="resourcePermissionPersistence">
                    <bean class="com.liferay.portal.service.persistence.ResourcePermissionPersistenceImpl"
                          p:sessionFactory-ref="userSessionFactory"/>
                </property>
                <property name="roleLocalService" ref="com.liferay.portal.service.RoleLocalService"/>
                <property name="resourceBlockLocalService">
                    <bean class="com.liferay.portal.service.impl.ResourceBlockLocalServiceImpl">
                        <property name="resourceBlockPersistence">
                            <bean class="com.liferay.portal.service.persistence.ResourceBlockPersistenceImpl"
                                  p:sessionFactory-ref="userSessionFactory"/>
                        </property>
                    </bean>
                </property>
                <property name="resourcePermissionLocalService">
                    <bean class="com.liferay.portal.service.impl.ResourcePermissionLocalServiceImpl">
                        <property name="resourcePermissionPersistence">
                            <bean class="com.liferay.portal.service.persistence.ResourcePermissionPersistenceImpl"
                                  p:sessionFactory-ref="userSessionFactory"/>
                        </property>
                        <property name="counterLocalService" ref="counterLocalService"/>
                        <property name="roleLocalService" ref="com.liferay.portal.service.RoleLocalService"/>
                        <property name="resourceActionLocalService"
                                  ref="com.liferay.portal.service.ResourceActionLocalService"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="counterLocalService" class="com.liferay.counter.service.impl.CounterLocalServiceImpl">
        <property name="counterPersistence">
            <bean class="com.liferay.counter.service.persistence.CounterPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
        <property name="counterFinder">
            <bean class="com.liferay.counter.service.persistence.CounterFinderImpl">
                <property name="dataSource" ref="dataSource"/>
                <property name="sessionFactory" ref="userSessionFactory"/>
            </bean>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.VirtualHostLocalService"
          class="com.liferay.portal.service.impl.VirtualHostLocalServiceImpl"/>
    <bean name="com.liferay.portal.service.LayoutFriendlyURLLocalService"
          class="com.liferay.portal.service.impl.LayoutFriendlyURLLocalServiceImpl"/>
    <bean name="com.liferay.portal.service.LockLocalService"
          class="com.liferay.portal.service.persistence.LockPersistenceImpl"
          p:sessionFactory-ref="userPersistence"/>
    <bean name="com.liferay.portlet.documentlibrary.service.DLAppLocalService"
          class="com.liferay.portlet.documentlibrary.service.impl.DLAppLocalServiceImpl">
        <property name="repositoryLocalService" ref="com.liferay.portal.service.RepositoryLocalService"/>
    </bean>
    <bean name="com.liferay.portal.service.ResourceActionLocalService"
          class="com.liferay.portal.service.impl.ResourceActionLocalServiceImpl">
        <property name="resourceActionPersistence">
            <bean class="com.liferay.portal.service.persistence.ResourceActionPersistenceImpl"
                  p:sessionFactory-ref="userSessionFactory"/>
        </property>
    </bean>
    <bean name="com.liferay.portlet.asset.service.AssetVocabularyLocalService"
          class="com.liferay.portlet.asset.service.impl.AssetVocabularyLocalServiceImpl">
        <property
                name="assetVocabularyPersistence">
            <bean class="com.liferay.portlet.asset.service.persistence.AssetVocabularyPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>
    <bean name="com.liferay.portal.service.WorkflowInstanceLinkLocalService"
          class="com.liferay.portal.service.impl.WorkflowInstanceLinkLocalServiceImpl">
        <property name="workflowInstanceLinkPersistence">
            <bean class="com.liferay.portal.service.persistence.WorkflowInstanceLinkPersistenceImpl"
                  p:sessionFactory-ref="userPersistence"/>
        </property>
    </bean>
</beans>
